.root {
    width: 100%;

    .sended {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
       
        width: 100%;

        p {
            font-size: 13px;
            padding: 12px;
            background-color: rgb(231, 231, 231);
            border-radius: 25px;
            margin: 5px;
            float: right;
        }
        span {
            font-size: 10px;
            padding-right: 10px;
            color: rgb(160, 160, 160);   
        }
    }
}